<div class="settings">
    <mat-slide-toggle [(ngModel)]="useSharps" (ngModelChange)="swapKeys()"> Using {{useSharps ? 'Sharps' : 'Flats'}}</mat-slide-toggle>
    <span class="system-pick">
        <mat-label>Note System:</mat-label>
        <mat-select [(ngModel)]="selectedNoteSystem" (ngModelChange)="swapKeys()">
            <mat-option *ngFor="let system of possibleNoteSystems" [value]="system">{{ system }}</mat-option>
        </mat-select>
    </span>
</div>
<div class="piano">
    <div *ngFor="let key of keys; let index = index;"
        class="note" [class.black]="key.endsWith('#') || key.endsWith('♭')"
        (mousedown)="playNote(index)" (mouseup)="stopNote(index)"
        (touchstart)="playNote(index)" (touchend)="stopNote(index)">
        {{ key }}
    </div>
</div>