<div class="settings">
    <mat-slide-toggle [(ngModel)]="showLetters"> {{showLetters ? 'Showing' : 'Hiding'}} key names</mat-slide-toggle>
    <mat-select [(ngModel)]="selectedType" style="width: 10rem">
        <mat-option *ngFor="let type of possibleOscillatorType" [value]="type">{{ type }}</mat-option>
    </mat-select>
    <span *ngIf="showLetters" class="label-settings">
        <mat-slide-toggle [(ngModel)]="useSharps" (ngModelChange)="swapKeys()"> Using {{useSharps ? 'Sharps' : 'Flats'}}</mat-slide-toggle>
        <span class="system-pick">
            <mat-label>Note System:</mat-label>
            <mat-select [(ngModel)]="selectedNoteSystem" (ngModelChange)="swapKeys()">
                <mat-option *ngFor="let system of possibleNoteSystems" [value]="system">{{ system }}</mat-option>
            </mat-select>
        </span>
    </span>
</div>
<div class="piano">
    <div *ngFor="let key of keys; let index = index;"
        class="note" [class.black]="key.endsWith('#') || key.endsWith('♭')"
        (mousedown)="playNote(index)" (mouseup)="stopNote(index)"
        touchClick (touchStart)="playNote(index)" (touchEnd)="stopNote(index)">
        {{ showLetters ? key : '' }}
    </div>
</div>